__pycache__/
*.py[cod]
*$py.class
.pytest_cache
/sketchpad.py
/venv
/campus_gym/campus_gym/envs/wandb
/campus_gym/campus_gym/envs/qtables
/campus_data_generator/*.png
campus_data_generator/log
campus_data_generator/wandb
input_files/
run.txt
run.txt.zip
campus_data_generator/
input_files/



